/* 
	FULLY for XE1 
	by Wincomi (https://www.wincomi.com)
*/
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {display: block;}
html{-webkit-text-size-adjust: 100%; -moz-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html,body{width:100%;height:100%;margin:0}
body{background-attachment:fixed;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;font-family: "Apple SD Gothic Neo", "Nanum Gothic", "Helvetica Neue", Helvetica, Arial, sans-serif;color:#fff;text-shadow:0 0 2px rgba(0,0,0,.5);font-size:14px;}
a{text-decoration:none}
h1{font-weight: 300;margin:0 0 15px;font-size:40px}
p{margin:0 0 15px 0;}

.overlay{position: fixed;top:0;right:0;bottom:0;left: 0;z-index: -1;box-shadow:inset 0 0 50px rgba(0,0,0,.5)}

.container{max-width:970px;margin:0 auto}
.f-title a{color:#fff}
.lead{font-size:20px}
.wrap{display:table;text-align:center;width: 100%;height:100%;padding:15px 0}
.wrap-inner{display: table-cell;vertical-align: middle;}

.clearfix{clear:both;border:none;margin:0}
.clearfix:after{clear:both;display:block;content:""}

#header{padding:15px}
.header-brand{float:left;line-height:50px;font-size:30px;margin:0;z-index:1}
.header-brand a{border:none;color:#fff}
.header-brand img{max-width:50px;max-height:50px;vertical-align: middle}

.f-nav{float:right;line-height:50px;list-style: none;margin:0;padding:0}
.f-nav li{display:inline-block;font-size:16px;margin-right:10px;}
.f-nav li a{color:#fff;border-bottom:2px solid transparent;padding:10px 5px;transition:.5s border-bottom-color ease}
.f-nav li:hover a{border-bottom-color: rgba(255,255,255,.7)}
.f-nav li.active a{border-bottom-color:#fff;}
.f-nav li:before{content: "\00b7";margin-right:10px;color:#eee;color:rgba(255,255,255,.7)}
.f-nav li:first-child:before{display:none}
.f-btn{color:#fff;display:inline-block;padding:7.5px 15px;font-size:16px;transition:.5s border-color ease, .5s color ease, .5s background-color ease;-webkit-transition:.5s border-color ease, .5s color ease, .5s background-color ease;border:2px solid #eee;border-radius:2px;border-color: rgba(255,255,255,.7);background-color:rgba(0,0,0,.25);}
.f-btn:hover{color:#fff;background-color:rgba(0,0,0,.5);text-decoration: none;border-color:#fff}

.f-content{background-color:#fff;border-radius:2px;padding:15px;text-shadow:none;margin-bottom:10px;text-align:left;color:#333;box-shadow: 0 0 2px rgba(0, 0, 0, .3);}
.f-login{text-shadow:none;text-align:left;color:#333}
.f-footer{color:#fff;color:rgba(255,255,255,.7);}
.f-footer p{display:inline;margin-right:10px}
.f-footer .f-copyright{display:block;}
.f-footer a{color:#fff;color:rgba(255,255,255,.8);border-bottom:1px dotted #eee;border-bottom-color: rgba(255,255,255,.5);transition:.5s border-bottom-color ease, .5s color ease}
.f-footer a:hover{color:#fff;text-decoration: none;border-bottom-color: rgba(255,255,255,.7)}

body div.xe_mobile{margin-top:0;background-color: rgba(0, 0, 0, .2);border:none;border-top:1px solid rgba(255, 255, 255, .2)}
body a.xe_mobile{color:#fff}

@media (max-width: 970px) {
	.f-content{border-radius: 0;overflow:hidden}
}

@media (max-width: 768px) {
	.f-nav li{margin-right:5px}
	.f-nav li:before{margin-right:5px}
	#header{border-bottom:1px solid rgba(255, 255, 255, .2);padding:10px}
	.header-brand, .f-nav{float:none}
	.wrap, .wrap-inner{display:block}
}

@media (min-width: 970px) {
	@-webkit-keyframes f-animate {
		from {opacity: 0;-webkit-transform: translate3d(0, -100%, 0);transform: translate3d(0, -100%, 0)}
		to {opacity: 1;-webkit-transform: none;transform: none}
	}
	
	@keyframes f-animate {
		from {opacity: 0;-webkit-transform: translate3d(0, -100%, 0);transform: translate3d(0, -100%, 0)}
		to {opacity: 1;-webkit-transform: none;transform: none}
	}
	
	@-webkit-keyframes f-animate2 {
		from {opacity: 0;-webkit-transform: translate3d(0, -10%, 0);transform: translate3d(0, -10%, 0)}
		to {opacity: 1;-webkit-transform: none;transform: none}
	}
	
	@keyframes f-animate2 {
		from {opacity: 0;-webkit-transform: translate3d(0, -10%, 0);transform: translate3d(0, -10%, 0)}
		to {opacity: 1;-webkit-transform: none;transform: none}
	}
}
